<div class="page-main-container">
  <form>
    <div class="form-group search-block">
      <div class="search-title">Hashtag search</div>
      <input class="ml-2" type="text" [formControl]="filter" [placeholder]="'Search by hashtag'" />
    </div>
  </form>

  <div class="card custom-card">
    <table class="table ">
      <thead>
      <tr>
        <th scope="col">Tweet</th>
        <th scope="col">Likes</th>
        <th scope="col">Replies</th>
        <th scope="col">Retweets</th>
        <th scope="col">Hashtags</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let tweet of datacource$ | async | paginate: { itemsPerPage: 9, currentPage: p }">
        <td>
          <ngb-highlight [result]="tweet.text | textCut"></ngb-highlight>
        </td>
        <td class="counting-col">
          <ngb-highlight [result]="tweet.likes | zeroToChar"></ngb-highlight>
        </td>
        <td class="counting-col">
          <ngb-highlight [result]="tweet.replies | zeroToChar"></ngb-highlight>
        </td>
        <td class="counting-col">
          <ngb-highlight [result]="tweet.retweets | zeroToChar"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="tweet.hashtags | arrayCut"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="tweet.date | date: 'MMM d, y'"></ngb-highlight>
        </td>
      </tr>
      </tbody>
    </table>


    <pagination-controls *ngIf="(users$ | async)?.length > 5" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
